@tailwind base;
@tailwind components;
@tailwind utilities;


.cards__container {
   display: grid;
	grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));

	margin: 2rem 0 6rem;
	column-gap: 2rem;
	grid-row: auto;
	grid-auto-rows: auto;
	row-gap: 3rem;
}

.instructions {
	& p {
		position: relative;
		padding-left: 2rem;
		margin-top: 1.4rem;
		font-weight: 500;
		&::before {
			
			content: "";
			width: .6rem;
			height: .6rem;
			border-radius: 50%;
			background-color: gainsboro;
			position: absolute;
			top: 50%;
			left: 0%;
			transform: translateY(-50%);
		}
	}
}